<mat-sidenav-container class="shell">
  <mat-sidenav
    #drawer
    class="shell__nav"
    [mode]="compact() ? 'over' : 'side'"
    [opened]="!compact()"
  >
    <div class="brand">
      <span class="brand__mark" aria-hidden="true">
        <mat-icon>confirmation_number</mat-icon>
      </span>
      <div>
        <div class="brand__name">Punchy</div>
        <div class="brand__role">
          @if (businessName(); as business) {
            {{ business }}
          } @else {
            {{ 'nav.adminArea' | transloco }}
          }
        </div>
      </div>
    </div>
    <mat-nav-list>
      @for (item of nav(); track item.path) {
        <a
          mat-list-item
          [routerLink]="item.path"
          routerLinkActive
          #rla="routerLinkActive"
          [routerLinkActiveOptions]="{ exact: !!item.exact }"
          [activated]="rla.isActive"
          (click)="compact() && drawer.close()"
        >
          <mat-icon matListItemIcon aria-hidden="true">{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.label | transloco }}</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="shell__content">
    <mat-toolbar class="topbar">
      @if (compact()) {
        <button mat-icon-button (click)="drawer.toggle()" [attr.aria-label]="'nav.menu' | transloco">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span class="topbar__spacer"></span>
      <button mat-button [matMenuTriggerFor]="languageMenu" [attr.aria-label]="'nav.language' | transloco">
        <mat-icon>translate</mat-icon>
        {{ language.current().toUpperCase() }}
      </button>
      <mat-menu #languageMenu="matMenu">
        @for (lang of language.languages; track lang) {
          <button mat-menu-item (click)="setLanguage(lang)">{{ 'languages.' + lang | transloco }}</button>
        }
      </mat-menu>
      @if (session.user(); as user) {
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
          <span class="avatar" aria-hidden="true">{{ user.initials || user.firstName.charAt(0) }}</span>
          <span class="user-button__name">{{ user.firstName }} {{ user.lastName }}</span>
        </button>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <div class="user-menu__email">{{ user.email }}</div>
          <mat-divider />
          <a mat-menu-item routerLink="/account">
            <mat-icon>person</mat-icon>
            <span>{{ 'nav.account' | transloco }}</span>
          </a>
          <button mat-menu-item (click)="signOut()">
            <mat-icon>logout</mat-icon>
            <span>{{ 'nav.signOut' | transloco }}</span>
          </button>
        </mat-menu>
      }
    </mat-toolbar>
    <main class="page">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
